<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyh.demo.dao.UserRegMapper">

    <resultMap id="BaseResultMap" type="com.wyh.demo.domain.UserReg">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARBINARY"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,password,create_time
    </sql>

    <select id="selectByUserName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from user_reg where user_name = #{userName}
    </select>

    <insert id="insertSelective" parameterType="com.wyh.demo.domain.UserReg">
    insert into user_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="userName !=null">
            user_name,
        </if>
        <if test="password != null">
            password,
        </if>
        <if test="createTime ！= null">
            create_time,
        </if>
    </trim>
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=INTEGER}
        </if>
        <if test="userName != null">
            #{userName,jdbcType=VARCHAR}
        </if>
        <if test="password !=null">
           #{password,jdbcType=VARCHAR}
        </if>
        <if test="createTime !=null">
            #{createTime,jdbcType=TIMESTAMP}
        </if>
    </trim>
    </insert>
</mapper>